<li style="margin-bottom: 1.5em; list-style-position: outside;">
  <div style="margin-left: 0.8em;">
    <div>
      <em>{{ post.title }}</em>
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" style="color: #1a0dab;">[arXiv]</a>
      {% endif %}
    </div>

    <div>
      {{ post.authors | markdownify | remove: "<p>" | remove: "</p>" }}
    </div>

    {% if post.tldr %}
      <div style="color: #b200b2;">
        [TLDR: {{ post.tldr }}]
      </div>
    {% endif %}
    {% if post.venue %}
      <div style="margin-top: 2px; font-style: italic; color: #555;">
        {{ post.venue }}
      </div>
    {% endif %}
  </div>
</li>
